@mixin buttonCode() {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.courses {
    display: flex;
    place-content: center;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    align-items: center;
}
#increment {
    @include buttonCode;
    color: #fff;
    background: rgb(85, 85, 218);
}

#cleanup {
    @include buttonCode;
    color: #888888;
    background: rgb(225, 225, 235);   
}

