.employees {
    display: flex;
    place-content: center;
    justify-content: space-evenly;
    height: 150px;
    flex-direction: column;
    align-items: center;
}

#changeBtn {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    background: rgb(163, 55, 73);
    border: none;
    cursor: pointer;
}
