.employees {
    display: flex;
    place-content: center;
    justify-content: space-evenly;
    height: 250px;
    flex-direction: column;
    align-items: center;
}

@mixin btn($color) {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    background: $color;
}

#changeBtn {   
    @include btn(rgb(163, 55, 73));    
}

#incrementBtn {
    @include btn(rgb(15, 105, 50));    
}
